---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const f1Cars = await getCollection("f1Cars");

export const prerender = true;
---

<Layout title="Autos históricos de F1">
  <main>
    <h1 class="text-center text-amber-50 text-7xl font-extrabold py-10">
      Autos <span class="text-red-700">Históricos</span>
    </h1>
    <section aria-label="3 autos campeones de la F1" class="pb-10">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-6 md:grid-cols-2">
          {
            f1Cars.map((car) => {
              const { slug, data } = car;
              const {
                nombre,
                escuderia,
                img,
                año,
                pilotos,
                motor,
                campeonatos_constructores,
                campeonatos_pilotos,
                victorias,
                pole_positions,
              } = data;

              return (
                <a href={`/cars/${slug}`}>
                  <article class="relative bg-gray-900 rounded-lg shadow-lg overflow-hidden transform transition-all duration-300 hover:scale-105 hover:shadow-2xl cursor-pointer">
                    <div class="absolute inset-0 bg-gradient-to-br from-red-800 to-black opacity-20 z-0" />
                    <img
                      transition:name={`img-${slug}`}
                      src={`/public/${img}`}
                      alt={slug}
                      class="w-full aspect-video object-cover rounded-t-lg relative z-10"
                    />
                    <div class="p-6 relative z-20">
                      <h3 class="text-3xl font-bold text-amber-50 mb-2 border-b-2 border-red-700 pb-2">
                        {nombre} <span class="text-red-700">({año})</span>
                      </h3>
                      <p class="text-gray-300 text-lg mb-1">
                        <span class="font-semibold text-amber-50">
                          Escudería:
                        </span>{" "}
                        {escuderia}
                      </p>
                      <p class="text-gray-300 text-lg mb-4">
                        <span class="font-semibold text-amber-50">Motor:</span>{" "}
                        {motor}
                      </p>
                      <div class="grid grid-cols-2 gap-4 text-gray-300 text-base">
                        <div>
                          <p class="font-semibold text-amber-50">Pilotos:</p>
                          <ul class="list-disc list-inside ml-2">
                            {pilotos.map((piloto) => (
                              <li>{piloto}</li>
                            ))}
                          </ul>
                        </div>
                        <div>
                          <p class="font-semibold text-amber-50">
                            Estadísticas:
                          </p>
                          <ul class="list-disc list-inside ml-2">
                            <li>
                              Campeonatos Constructores:{" "}
                              {campeonatos_constructores}
                            </li>
                            <li>Campeonatos Pilotos: {campeonatos_pilotos}</li>
                            <li>Victorias: {victorias}</li>
                            <li>Pole Positions: {pole_positions}</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </article>
                </a>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
